/* You can add global styles to this file, and also import other style files */
mwc-button {
    --mdc-theme-primary: #213E7F;
    --mdc-theme-secondary: #0097D9;
    --mdc-theme-on-primary: #B02A87;
    --mdc-theme-secondary: #EC628B;
}